{% extends 'main.html' %}
{% block content %}
<h1>User Profile</h1>
<table>
    <tr>
        <th>Username</th>
        <th>name</th>
        <th>gender</th>
        <th>Profile_Photo</th>
        <th>Location</th>
        <th>short_intro</th>
        <th>Created</th>
    
    </tr>
    
    <tr>
        <td>{{profile.username}}</td>
        <td>{{profile.name}}</td>
        <td>{{profile.gender}}</td>
        <td><img style= "width: 30%; height:20%; text-align: center; padding-left:15vw;" src= "{{ profile.profile_image.url }}" alt=""></td>
        <td>{{profile.location|slice:"150"}}</td>
        <td>{{profile.short_intro|slice:"60"}}</td>
        <td>{{profile.created}}</td>
		<td><a href="{% url 'edit-account' %}">Edit</a></td>
        
    </tr>

    
</table>
<br>
<br>
<h1>Thrones</h1>
<table>
    <tr>
        <th>ID</th>
        <th>User</th>
        <th>Bathroom</th>
        <th>Images</th>
        <th>Positive Votes</th>
        <th>Votes</th>
        <th>Created</th>
        <th></th>
    </tr>
    {% for bathroom in bathrooms %} 
    <tr>
        <td>{{bathroom.id}}</td>
        <td>{{bathroom.user.name}}</td>
        <td>{{bathroom.owner}}</td>
        <td><img style= "width: 30%; height:20%; text-align: center; padding-left:15vw;" src={{bathroom.image}} alt=""></td>
        <td>{{bathroom.vote_ratio}}%</td>
        <td>{{bathroom.vote_total}}</td>
        <td>{{bathroom.created}}</td>
        <td><a href="{% url 'update-throne' bathroom.id %}">Edit</a></td>
        <td><a href="{% url 'delete-throne' bathroom.id %}">Delete</a></td>
        <td><a href="{% url 'bathroom' bathroom.id %}">View</a></td>
    </tr>
    {% endfor %}
</table>
{% endblock content %}